USE [Прокат инвентаря]
GO
/****** Object:  Table [dbo].[Должность]    Script Date: 26.12.2022 21:35:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Должность](
	[id] [int] NOT NULL,
	[Наименование] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Должность] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Заказы]    Script Date: 26.12.2022 21:35:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Заказы](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Дата создания] [datetime] NULL,
	[IDклиента] [int] NULL,
	[Время заказа] [time](7) NULL,
	[Количество_услуг] [int] NULL,
	[Статус] [int] NULL,
	[Дата закрытия] [date] NULL,
	[Время проката] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Инвентарь]    Script Date: 26.12.2022 21:35:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Инвентарь](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Наименование] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Клиент]    Script Date: 26.12.2022 21:35:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Клиент](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Фамилия] [nvarchar](255) NOT NULL,
	[Имя] [nvarchar](255) NOT NULL,
	[Отчество] [nvarchar](255) NOT NULL,
	[Паспортные_данные] [nvarchar](20) NOT NULL,
	[Дата_рождения] [datetime] NOT NULL,
	[Адрес] [nvarchar](255) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Клиент] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Склад]    Script Date: 26.12.2022 21:35:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Склад](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDинвентаря] [int] NULL,
	[Стоимость] [nvarchar](50) NULL,
	[Количество] [int] NULL,
	[Дата] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Сотрудник]    Script Date: 26.12.2022 21:35:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Сотрудник](
	[id] [int] NOT NULL,
	[IDДолжности] [int] NULL,
	[ФИО] [nvarchar](255) NULL,
	[Логин] [nvarchar](255) NULL,
	[Пароль] [nvarchar](255) NULL,
	[Последний_вход] [nvarchar](255) NULL,
	[IDТипВхода] [int] NULL,
	[Фото] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Статус]    Script Date: 26.12.2022 21:35:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Статус](
	[id] [int] NOT NULL,
	[Наименование] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Статус] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ТипВхода]    Script Date: 26.12.2022 21:35:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ТипВхода](
	[id] [int] NOT NULL,
	[Наименование] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ТипВхода] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Услуги]    Script Date: 26.12.2022 21:35:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Услуги](
	[id] [int] NOT NULL,
	[Наименование_услуги] [nvarchar](255) NOT NULL,
	[Код_услуги] [nvarchar](255) NOT NULL,
	[Стоимость] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_Услуги] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Должность] ([id], [Наименование]) VALUES (1, N'Администратор')
INSERT [dbo].[Должность] ([id], [Наименование]) VALUES (2, N'Продавец')
INSERT [dbo].[Должность] ([id], [Наименование]) VALUES (3, N'Старший смены')
GO
SET IDENTITY_INSERT [dbo].[Заказы] ON 

INSERT [dbo].[Заказы] ([ID], [Дата создания], [IDклиента], [Время заказа], [Количество_услуг], [Статус], [Дата закрытия], [Время проката]) VALUES (1, CAST(N'2022-03-12T00:00:00.000' AS DateTime), 1, CAST(N'09:10:00' AS Time), 4, 1, NULL, N'120 минут')
INSERT [dbo].[Заказы] ([ID], [Дата создания], [IDклиента], [Время заказа], [Количество_услуг], [Статус], [Дата закрытия], [Время проката]) VALUES (2, CAST(N'2022-03-13T00:00:00.000' AS DateTime), 2, CAST(N'10:10:00' AS Time), 5, 2, NULL, N'600 минут')
INSERT [dbo].[Заказы] ([ID], [Дата создания], [IDклиента], [Время заказа], [Количество_услуг], [Статус], [Дата закрытия], [Время проката]) VALUES (3, CAST(N'2022-03-14T00:00:00.000' AS DateTime), 3, CAST(N'11:10:00' AS Time), 4, 2, NULL, N'2 часа')
SET IDENTITY_INSERT [dbo].[Заказы] OFF
GO
SET IDENTITY_INSERT [dbo].[Инвентарь] ON 

INSERT [dbo].[Инвентарь] ([ID], [Наименование]) VALUES (1, N'Коньки')
INSERT [dbo].[Инвентарь] ([ID], [Наименование]) VALUES (2, N'Шлема')
INSERT [dbo].[Инвентарь] ([ID], [Наименование]) VALUES (3, N'Санки')
SET IDENTITY_INSERT [dbo].[Инвентарь] OFF
GO
SET IDENTITY_INSERT [dbo].[Клиент] ON 

INSERT [dbo].[Клиент] ([id], [Фамилия], [Имя], [Отчество], [Паспортные_данные], [Дата_рождения], [Адрес], [Email]) VALUES (1, N'Фролов', N'Андрей', N'Иванович', N' 1180  176', CAST(N'2001-07-14T00:00:00.000' AS DateTime), N'344288, г. Екатеринбург, ул. Чехова, 1, кв. 34', N'gohufreilagrau3818@yopmail.com')
INSERT [dbo].[Клиент] ([id], [Фамилия], [Имя], [Отчество], [Паспортные_данные], [Дата_рождения], [Адрес], [Email]) VALUES (2, N'Николаев', N'Даниил', N'Всеволодович', N' 2280  223', CAST(N'2001-02-10T00:00:00.000' AS DateTime), N'614164, г. Екатеринбург, ул. Степная, 30, кв. 75', N'xawugosune1385@yopmail.com')
INSERT [dbo].[Клиент] ([id], [Фамилия], [Имя], [Отчество], [Паспортные_данные], [Дата_рождения], [Адрес], [Email]) VALUES (3, N'Снегирев', N'Макар', N'Иванович', N' 4560  354', CAST(N'1998-05-21T00:00:00.000' AS DateTime), N'394242, г. Екатеринбург, ул. Коммунистическая, 43, кв. 57', N'satrahuddusei4458@yopmail.com')
SET IDENTITY_INSERT [dbo].[Клиент] OFF
GO
SET IDENTITY_INSERT [dbo].[Склад] ON 

INSERT [dbo].[Склад] ([ID], [IDинвентаря], [Стоимость], [Количество], [Дата]) VALUES (1, 1, N'50', 100, CAST(N'2022-12-26' AS Date))
SET IDENTITY_INSERT [dbo].[Склад] OFF
GO
INSERT [dbo].[Сотрудник] ([id], [IDДолжности], [ФИО], [Логин], [Пароль], [Последний_вход], [IDТипВхода], [Фото]) VALUES (1, 2, N'Иванов Иван Иванович', N'Ivanov@namecomp.ru', N'2L6KZG', NULL, 1, N'Иванов.jpeg')
INSERT [dbo].[Сотрудник] ([id], [IDДолжности], [ФИО], [Логин], [Пароль], [Последний_вход], [IDТипВхода], [Фото]) VALUES (2, 2, N'Петров Петр Петрович', N'petrov@namecomp.ru', N'uzWC67', N'26.12.2022', 1, N'Петров.jpeg')
INSERT [dbo].[Сотрудник] ([id], [IDДолжности], [ФИО], [Логин], [Пароль], [Последний_вход], [IDТипВхода], [Фото]) VALUES (3, 1, N'Федоров Федор Федорович', N'fedorov@namecomp.ru', N'8ntwUp', N'26.12.2022', 2, N'C:\Users\DNS\Desktop\уроки\ПП\ПП\bin\Debug\Федоров.jpeg')
GO
INSERT [dbo].[Статус] ([id], [Наименование]) VALUES (1, N'Новая')
INSERT [dbo].[Статус] ([id], [Наименование]) VALUES (2, N'В прокате')
INSERT [dbo].[Статус] ([id], [Наименование]) VALUES (3, N'Закрыта')
GO
INSERT [dbo].[ТипВхода] ([id], [Наименование]) VALUES (1, N'Успешно')
INSERT [dbo].[ТипВхода] ([id], [Наименование]) VALUES (2, N'Неуспешно')
GO
INSERT [dbo].[Услуги] ([id], [Наименование_услуги], [Код_услуги], [Стоимость]) VALUES (1, N'Прокат коньков', N'8HFJHG443', CAST(1200.00 AS Decimal(18, 2)))
INSERT [dbo].[Услуги] ([id], [Наименование_услуги], [Код_услуги], [Стоимость]) VALUES (2, N'Заточка коньков', N'87FDJKHJ', CAST(500.00 AS Decimal(18, 2)))
INSERT [dbo].[Услуги] ([id], [Наименование_услуги], [Код_услуги], [Стоимость]) VALUES (3, N'Прокат опорного оборудования для катка', N'JUR8R', CAST(500.00 AS Decimal(18, 2)))
GO
